/* Label Color. Config default is white. */
label {
    font-family: source-code-pro, monospace;
    font-style: normal;
    font-weight: 700;
    color:          sandybrown;
    text-shadow: #001b4a 1px 0px 1px;
    border: 1px solid ;
    border-radius: 8px;
    margin: 2px;
    background: #000000;
    padding: 3px;
}

window {
   opacity: 1;
}

box {
    padding: 1px;
    border: none 1px white;
    border-radius: 20px;
}

/* Button Configuration */
button {
    font-weight:    normal;
    box-shadow:     none;
    margin-bottom: 0px;
    margin-top:    0px;
    padding-right:  0px;
    padding-left:   0px;
    border-radius: 40px;
}
