@import "/home/amarnath/.cache/wal/colors-waybar.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Monaspice Ne Nerd Font, Commit Mono Nerd Font, JetBrainsMono Nerd Font Mono, Source Code Pro, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    border: none;
    border-radius: 0;
    padding: 0;
}

window#waybar {
    /*background-color: @background; */
    background-color: @background;
    border-bottom: 2px @foreground;
    color: @foreground;
    /* transition-property: background-color;
    transition-duration: .5s; */
    border-radius: 7px;
    margin: 5px;
    opacity: 0.9;
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.empty {
   /* background-color: transparent; */
   /* color: rgba(0, 0, 0, 0);*/
}
window#waybar.solo {
    /* background-color: transparent; */
}


window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: @background;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @foreground;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @foreground;
    border: 0px solid powderblue;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px @foreground;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid @foreground;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: @foreground;
}

#window,
#workspaces {
    margin: 0 1px;
    background-color: @background;
    /* border: 3px solid white; */
    border-radius: 0px;
    padding: 0px 5px 0px 5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @background;
    /*border: 3px solid white;*/
    color: @foreground;
    border-radius: 0px;
}

#battery {
    background-color: @background;
    color: @foreground;
}

#battery.charging, #battery.plugged {
    color: @foreground;
    background-color: @background;
}

@keyframes blink {
    to {
        background-color: @foreground;
        color: @background;
    }
}

#battery.critical:not(.charging) {
    background-color: @background;
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border: 3px solid @foreground;
}

label:focus {
    background-color: @background;
}

#cpu {
    background-color: @background;
    color: @foreground;
    /*border: 3px solid white; */
    border-radius: 0px;
}

#memory {
    background-color: @background;
   /* border: 3px solid white; */
    color: @foreground;
    border-radius: 0px;
}

#disk {
    background-color: @background;
    border: 3px solid @foreground;
    color: @foreground;
    border-radius: 0px;
}

#backlight {
    background-color: @background;
    color: @foreground;
}

#network {
    background-color: @background;
   /* border: 3px solid white; */
    color: @foreground;
    border-radius: 0px;
}

#network.disconnected {
    background-color: @background;
    border: 3px solid @foreground;
    color: @foreground;
    border-radius: 0px;
}

#pulseaudio {
    background-color: @background;
    color: @foreground;
  /*  border: 3px solid white; */
    border-radius: 0px;
}

#pulseaudio.muted {
    background-color: @background;
    color: @foreground;
  /*  border: 3px solid white; */
    border-radius: 0px;
}

#wireplumber {
    background-color: @background;
    color: @foreground;
  /*  border: 3px solid white; */
    border-radius: 0px;
}

#wireplumber.muted {
    background-color: @background;
    border: 3px solid @foreground;
    border-radius: 0px;
    color: @foreground;
}

#custom-media {
    background-color: @background;
    color: white;
    min-width: 100px;
    border: 3px solid white;
    border-radius: 0px;
}

#custom-media.custom-spotify {
    background-color: @background;
    border-bottom: 3px solid powderblue;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
    border-bottom: 3px solid powderblue;
}

#temperature {
    background-color: @background;
   /* border: 3px solid white; */
    color: @foreground;
    border-radius: 0px;
}

#temperature.critical {
    background-color: @background;
    border-bottom: 3px solid @foreground;
    color: @foreground;
}

#tray {
    background-color: @background;
    color: @foreground;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: @background;
    color: @foreground;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

@keyframes blink-update {
	to {
		background-color: dodgerblue;
	}
}

#custom-pacman {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#custom-pacman.pending-updates {
	animation-name: blink-update;
	animation-duration: 3s;
}
