# Configuration file

hud_cps {
    # Enable Background [default: false]
    B:cpsBackground=false

    # Align to the bottom [default: false]
    B:cpsBottomAlign=false

    # Enable RGB/Chroma Effect [default: false]
    B:cpsChroma=false

    # Hex color code (Red: FF0000, Blue: 0000FF, Green: 00FF00) [default: FFFFFF]
    S:cpsColor=FFFFFF

    # If CPS is shown [default: true]
    B:cpsEnabled=true

    # Align to the right [default: false]
    B:cpsRightAlign=false

    # X Position of CPS [range: 0 ~ 10000, default: 10]
    I:cpsX=10

    # Y Position of CPS [range: 0 ~ 10000, default: 34]
    I:cpsY=34
}


hud_fps {
    # Enable Background [default: false]
    B:fpsBackground=false

    # Align to the bottom [default: false]
    B:fpsBottomAlign=false

    # Enable RGB/Chroma Effect [default: false]
    B:fpsChroma=false

    # Hex color code (Red: FF0000, Blue: 0000FF, Green: 00FF00) [default: FFFFFF]
    S:fpsColor=FFFFFF

    # If FPS is shown [default: true]
    B:fpsEnabled=true

    # Align to the right [default: false]
    B:fpsRightAlign=false

    # X Position of FPS [range: 0 ~ 10000, default: 10]
    I:fpsX=10

    # Y Position of FPS [range: 0 ~ 10000, default: 10]
    I:fpsY=10
}


hud_keystrokes {
    # If Keystrokes are shown [default: true]
    B:KeystrokesEnabled=true

    # Hex color code (Red: FF0000, Blue: 0000FF, Green: 00FF00) [default: 00FF00]
    S:keystrokesActivatedColor=00FF00

    # Enable Background [default: false]
    B:keystrokesBackground=false

    # Align to the bottom [default: false]
    B:keystrokesBottomAlign=false

    # Enable RGB/Chroma Effect [default: false]
    B:keystrokesChroma=false

    # Hex color code (Red: FF0000, Blue: 0000FF, Green: 00FF00) [default: FFFFFF]
    S:keystrokesColor=FFFFFF

    # Align to the right side of the screen [default: true]
    B:keystrokesRightAlign=true

    # X Position (or margin from right) [range: 0 ~ 10000, default: 5]
    I:keystrokesX=5

    # Y Position [range: 0 ~ 10000, default: 10]
    I:keystrokesY=10
}


hud_ping {
    # Enable Background [default: false]
    B:pingBackground=false

    # Align to the bottom [default: false]
    B:pingBottomAlign=false

    # Enable RGB/Chroma Effect [default: false]
    B:pingChroma=false

    # Hex color code (Red: FF0000, Blue: 0000FF, Green: 00FF00) [default: FFFFFF]
    S:pingColor=FFFFFF

    # If Ping is shown [default: true]
    B:pingEnabled=true

    # Align to the right [default: false]
    B:pingRightAlign=false

    # X Position of Ping [range: 0 ~ 10000, default: 10]
    I:pingX=10

    # Y Position of Ping [range: 0 ~ 10000, default: 22]
    I:pingY=22
}


hud_potions {
    # Enable Background [default: false]
    B:potionHudBackground=false

    # Align to the bottom [default: false]
    B:potionHudBottomAlign=false

    # Enable RGB/Chroma Effect [default: false]
    B:potionHudChroma=false

    # Hex color code [default: FFFFFF]
    S:potionHudColor=FFFFFF

    # If Active Potions are shown [default: true]
    B:potionHudEnabled=true

    # Align to the right [default: false]
    B:potionHudRightAlign=false

    # X Position of Potion Effect HUD [range: 0 ~ 10000, default: 10]
    I:potionHudX=10

    # Y Position of Potion Effect HUD [range: 0 ~ 10000, default: 100]
    I:potionHudY=100
}


