# Configuration file

general {
    B:hitboxState=false
    B:rememberState=true
    B:showSelf=true
    D:width=2.0
}


mob {
    I:color=16777215
    B:showEye=true
    B:showHitbox=true
    B:showLook=true
}


other {
    I:color=16777215
    B:showHitbox=true
    B:showLook=true
}


player {
    I:color=16777215
    I:colorMode=0
    B:showEye=true
    B:showHitbox=true
    B:showLook=true
}


projectile {
    B:attached=true
    I:color=16777215
    I:colorMode=0
    B:grounded=true
    B:showHitbox=true
    B:showLook=true
}


