# Configuration file

general {
    # Draw border around items [default: false]
    B:drawBorder=false

    # HUD X position [range: 0 ~ 4096, default: 10]
    I:hudX=10

    # HUD Y position [range: 0 ~ 4096, default: 10]
    I:hudY=10

    # Toggle HUD on/off [default: true]
    B:showHud=true

    # Show Protection instead of Durability [default: true]
    B:showStatusProtection=true
}


